<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "名称": "张东东的常规报销单",
      "姓名1": "张三",
      "姓名2": "李四",
      "姓名3": "王五",
      "姓名4": "",
      "姓名5": "",
      "姓名6": "",
      "姓名7": "",
      "姓名8": "",
      "姓名9": "",
      "姓名10": "",
      "序号1": "1",
      "序号2": "2",
      "序号3": "3",
      "序号4": "",
      "序号5": "",
      "序号6": "",
      "序号7": "",
      "序号8": "",
      "序号9": "",
      "序号10": "",
      "结算费用1": "200",
      "结算费用2": "400",
      "结算费用3": "500",
      "结算费用4": "",
      "结算费用5": "",
      "结算费用6": "",
      "结算费用7": "",
      "结算费用8": "",
      "结算费用9": "",
      "结算费用10": ""
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 210mm;height: 297mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;color: #000000;font-weight: 400;box-sizing: border-box;padding: 0 21.529mm;">
    <div style="text-align: center;padding-top: 29.294mm;width: 100%;">
      <div style="font-size: 8.471mm;font-weight: 900;">三门峡市政务服务和大数据管理局</div>
      <div style="font-size: 6.353mm;font-weight: 400;margin-top: 3.529mm;">{名称}结算情况说明</div>
    </div>
    <div style="border: 1px solid #C8C9CC;overflow: hidden;display: inline-block;margin-top: 9.176mm;">
      <table style="font-size: 4.941mm;table-layout: fixed;border-collapse: collapse;width: 100%;">
        <tbody>
        <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
          <td style="width: 0;border: none;"></td>
          <td style="width: 22.353mm; border: none;"></td>
          <td style="width: 22.471mm; border: none;"></td>
          <td style="width: 22.471mm; border: none;"></td>
          <td style="border: none;"></td>
        </tr>
        <tr style="height: 12.706mm;">
          <td></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;text-align: center;">序号</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;text-align: center;">姓名</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;text-align: center;">金额</td>
          <td style="border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;text-align: center;">明细</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{序号1}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名1}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额1}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细1}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号2}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名2}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额2}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细2}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号3}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名3}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额3}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细3}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号4}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名4}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额4}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细4}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号5}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名5}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额5}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细5}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号6}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名6}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额6}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细6}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号7}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名7}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额7}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细7}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号8}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名8}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额8}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细8}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号9}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{姓名9}</td>
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;text-align: center;">{金额9}</td>
          <td style="border-bottom: 1px solid #C8C9CC;text-align: left;padding: 1mm;">{明细9}</td>
        </tr>
        <tr>
          <td style="height: 7.765mm;"></td>
          <td style="border-right: 1px solid #C8C9CC;text-align: center;min-height: 7.765mm;">{序号10}</td>
          <td style="border-right: 1px solid #C8C9CC;text-align: center;">{姓名10}</td>
          <td style="border-right: 1px solid #C8C9CC;text-align: center;">{金额10}</td>
          <td style="text-align: left;padding: 1mm;">{明细10}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
