<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "meetingOrg": "大数据局",
      "人数1": "1",
      "人数2": "2",
      "人数3": "3",
      "人数4": "4",
      "人数5": "5",
      "人数6": "6",
      "人数7": "7",
      "人数8": "8",
      "人数9": "9",
      "人数10": "1",
      "人数11": "2",
      "人数12": "3",
      "会议名称": "会议1",
      "会议开始时间": "2023-10-26 15:19",
      "会议性质或类别": "四类",
      "参加会议人数": "2",
      "召开天数": "1",
      "名称1": "会议伙食补助费",
      "名称2": "出席列席人员",
      "名称3": "工作服务人员",
      "名称4": "会议公杂费",
      "名称5": "会议住宿费、钟点房",
      "名称6": "会议室租赁",
      "名称7": "会议交通（汽油）费",
    "名称8": "不脱产人员误工补贴",
      "名称9": "不脱产人员伙食费",
      "名称10": "不脱产人员差旅费",
      "名称11": "临时炊事员工资",
      "名称12": "会议其他开支",
      "填表日期": "2023-10-26",
      "天数1": "1",
      "天数2": "2",
      "天数3": "3",
      "天数4": "4",
      "天数5": "",
      "天数6": "6",
      "天数7": "7",
      "天数8": "8",
      "天数9": "9",
      "天数10": "1",
      "天数11": "2",
      "天数12": "3",
      "实际开支数1": "1",
      "实际开支数2": "2",
      "实际开支数3": "3",
      "实际开支数4": "4",
      "实际开支数5": "5",
      "实际开支数6": "6",
      "实际开支数7": "7",
      "实际开支数8": "8",
      "实际开支数9": "9",
      "实际开支数10": "1",
      "实际开支数11": "2",
      "实际开支数12": "3",
      "总金额1": "",
      "总金额2": "",
      "总金额3": "",
      "总金额4": "",
      "总金额5": "",
      "总金额6": "",
      "总金额7": "",
      "总金额8": "",
      "总金额9": "",
      "总金额10": "",
      "总金额11": "",
      "总金额12": "",
      "标准1": "1",
      "标准2": "2",
      "标准3": "3",
      "标准4": "4",
      "标准5": "5",
      "标准6": "6",
      "标准7": "7",
      "标准8": "8",
      "标准9": "9",
      "标准10": "1",
      "标准11": "2",
      "标准12": "3",
      "核准预算数1": "1",
      "核准预算数2": "2",
      "核准预算数3": "3",
      "核准预算数4": "4",
      "核准预算数5": "5",
      "核准预算数6": "6",
      "核准预算数7": "7",
      "核准预算数8": "8",
      "核准预算数9": "9",
      "核准预算数10": "1",
      "核准预算数11": "2",
      "核准预算数12": "3",
      "申请人": "张东东",
      "经费来源": "财政",
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;color: #000000;font-size:3.175mm;font-weight: 400;">
    <div style="height: 43.033mm;margin: 0 23.986mm;overflow: hidden;padding-bottom: 2.822mm;display: flex;flex-direction: column;justify-content: space-between;border-bottom: 0.353mm solid #292C33;">
      <div style="font-size: 6.349mm;line-height: 8.818mm;color: #000000;font-weight: 900;text-align: center;padding-top: 19.048mm;">三门峡市行政、事业单位会议费支出审批表</div>
      <div style="display: flex;flex-direction: row;justify-content: space-between;align-items:baseline;margin-top: 7.407mm;">
        <div style="width: 58.119mm;">编报单位：市政务服务和大数据管理局</div>
        <div>{填表日期}</div>
        <div style="width: 58.119mm;text-align: right;">单位：元</div>
      </div>
    </div>
    <div style="margin: 6.349mm 23.986mm 0 23.986mm;display: flex;flex-direction: row;">
      <div style="flex: 1;height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">（1）会议名称：{会议名称}</div>
      <div style="flex: 1;margin-left: 35.978mm;height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">（2）会议定点单位：{meetingOrg}</div>
    </div>
    <div style="margin: 5.644mm 23.986mm 0 23.986mm;display: flex;flex-direction: row;">
      <div style="flex: 1;height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">（3）参加会议人数：{参加会议人数}</div>
      <div style="flex: 1;margin-left: 35.978mm;height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">（4）会议性质或类别：{会议性质或类别}</div>
    </div>
    <div style="margin: 5.644mm 23.986mm 0 23.986mm;display: flex;flex-direction: row;">
      <div style="flex: 1;height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">（5）会议{会议开始时间}报到，召开{召开天数}天</div>
      <div style="flex: 1;margin-left: 35.978mm;height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">（6）经费来源：{经费来源}</div>
    </div>
    <div style="margin: 8.113mm 23.986mm 0 23.986mm;border: 1px solid #000000;overflow: hidden;display: inline-block;">
      <table style="font-size: 3.175mm;table-layout: fixed;border-collapse: collapse;">
        <tbody>
          <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
            <td style="width: 20.811mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 21.164mm; border: none;"></td>
            <td style="width: 21.164mm; border: none;"></td>
            <td style="width: 21.164mm; border: none;"></td>
            <td style="width: 28.219mm; border: none;"></td>
            <td style="width: 28.219mm; border: none;"></td>
            <td style="width: 63.492mm; border: none;"></td>
          </tr>
          <tr style="height: 12.698mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">会议费项目</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">人数</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">天数</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">标准</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">核准预算数</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">实际开支数</td>
            <td style="text-align: center;border-bottom: 1px solid #000000;background-color: #EDF0F2;">审批意见</td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" rowspan="3">1</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数1}</div>
            </td>
            <td style="text-align: center;vertical-align: top;" rowspan="12"></td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数2}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数3}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">2</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数4}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">3</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数5}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">4</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称6}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数6}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数6}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准6}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数6}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数6}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">5</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称7}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数7}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数7}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准7}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数7}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数7}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">6</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称8}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数8}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数8}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准8}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数8}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数8}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">7</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称9}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数9}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数9}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准9}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数9}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数9}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">8</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称10}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数10}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数10}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准10}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数10}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数10}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">9</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称11}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数11}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数11}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准11}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数11}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数11}</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;">10</td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{名称12}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{人数12}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{天数12}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{标准12}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{核准预算数12}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div style="height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{实际开支数12}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin: 3.527mm 23.986mm 0 23.986mm;display: flex;flex-direction: row;">
      <div style="margin-left: 3.527mm;">主管财务领导：</div>
      <div style="margin-left: 77.601mm;">财务负责人：</div>
      <div style="margin-left: 77.601mm;">制表人：{申请人}</div>
    </div>
  </div>
</div>
</body>
</html>
