<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "住宿费1": "",
      "住宿费2": "",
      "住宿费3": "",
      "住宿费4": "",
      "住宿费5": "",
      "其他1": "",
      "其他2": "",
      "其他3": "",
      "其他4": "",
      "其他5": "",
      "出发1-区": "",
      "出发1-市": "",
      "出发1-省": "",
      "出发2-区": "",
      "出发2-市": "",
      "出发2-省": "",
      "出发3-区": "",
      "出发3-市": "",
      "出发3-省": "",
      "出发4-区": "",
      "出发4-市": "",
      "出发4-省": "",
      "出发5-区": "",
      "出发5-市": "",
      "出发5-省": "",
      "出差事由": "",
      "出差开始时间": "",
      "出差结束时间": "",
      "到达1-区": "",
      "到达1-市": "",
      "到达1-省": "",
      "到达2-区": "",
      "到达2-市": "",
      "到达2-省": "",
      "到达3-区": "",
      "到达3-市": "",
      "到达3-省": "",
      "到达4-区": "",
      "到达4-市": "",
      "到达4-省": "",
      "到达5-区": "",
      "到达5-市": "",
      "到达5-省": "",
      "填表日期": "2023年10月25日",
      "夜间乘车费1": "",
      "夜间乘车费2": "",
      "夜间乘车费3": "",
      "夜间乘车费4": "",
      "夜间乘车费5": "",
      "天": "",
      "天数1": "",
      "天数2": "",
      "天数3": "",
      "天数4": "",
      "天数5": "",
      "姓名": "",
      "小计金额1": "",
      "小计金额2": "",
      "小计金额3": "",
      "小计金额4": "",
      "小计金额5": "",
      "总金额大写": "",
      "总金额小写": "",
      "日1": "",
      "日2": "",
      "日3": "",
      "日4": "",
      "日5": "",
      "月1": "",
      "月2": "",
      "月3": "",
      "月4": "",
      "月5": "",
      "标准1": "",
      "标准2": "",
      "标准3": "",
      "标准4": "",
      "标准5": "",
      "职别": "",
      "车船费1": "",
      "车船费2": "",
      "车船费3": "",
      "车船费4": "",
      "车船费5": "",
      "金额1": "",
      "金额2": "",
      "金额3": "",
      "金额4": "",
      "金额5": "",
      "SYS_NO_XSS_TRAVEL_PEOPLE": "<img src='https://testminio.smxzhcs.cn:30060/jnpfsoftoss/xy-cicada/public/WebAnnexFile/6563e85bd5ded153250a45e4.png' style='width: 49%'/><img src='https://testminio.smxzhcs.cn:30060/jnpfsoftoss/xy-cicada/public/WebAnnexFile/6563e85bd5ded153250a45e4.png' style='width: 49%' />",
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;">
    <div style="width: 46.561mm;height: 100%;display: flex;flex-flow: row;align-items: center;">
      <div style="height: 128.394mm;font-size: 7.055mm;font-weight: 400;color: #000000;display: flex;flex-direction: column;justify-content: space-between;margin-left: 14.109mm;">
        <div>装</div>
        <div>订</div>
        <div>线</div>
      </div>
      <div style="height: 154.849mm;width: 0.18mm;border-left: 0.18mm dashed #292C33;margin-left: 11.640mm;"></div>
    </div>
    <div style="flex: 1;height: 100%;position: relative">
      <div style="height: 39.153mm;width: 100%;position: relative;overflow: hidden;padding-bottom: 2.822mm;display: flex;flex-direction: column;justify-content: space-between;">
        <div style="font-size: 6.349mm;line-height: 8.818mm;color: #000000;font-weight: 900;text-align: center;padding-top: 15.873mm;padding-right: 13.404mm;">三门峡市政务服务和大数据管理局差旅费用报销单</div>
        <div style="display: flex;flex-direction: row;justify-content: space-between;align-items:baseline;margin-top: 2.116mm;font-size: 3.175mm;">
          <div>出差事由：{出差事由}</div>
          <div style="width: 59.626mm;">填表日期：{填表日期}</div>
        </div>
      </div>
      <div style="border: 1px solid #000000;overflow: hidden;display: inline-block;">
        <table style="font-size: 3.175mm;table-layout: fixed;border-collapse: collapse;">
          <tbody>
          <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
            <td style="width: 10.229mm; border: none;"></td>
            <td style="width: 10.229mm; border: none;"></td>
            <td style="width: 18.357mm; border: none;"></td>
            <td style="width: 18.668mm; border: none;"></td>
            <td style="width: 18.357mm; border: none;"></td>
            <td style="width: 2.807mm; border: none;"></td>
            <td style="width: 15.550mm; border: none;"></td>
            <td style="width: 18.357mm; border: none;"></td>
            <td style="width: 3.130mm; border: none;"></td>
            <td style="width: 15.227mm; border: none;"></td>
            <td style="width: 9.023mm; border: none;"></td>
            <td style="width: 9.023mm; border: none;"></td>
            <td style="width: 18.668mm; border: none;"></td>
            <td style="width: 37.336mm; border: none;"></td>
            <td style="width: 28.219mm; border: none;"></td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">姓名</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="height: 6.349mm;line-height: 6.349mm;overflow:hidden;">{姓名}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">职别</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="3">
              <div style="height: 6.349mm;line-height: 6.349mm;overflow:hidden;">{职别}</div>
            </td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="5">
              <div style="height: 6.349mm;margin-left: 2.822mm;line-height: 6.349mm;overflow:hidden;">
                <span>出差时间：</span>
                <span>自{出差开始时间}至{出差结束时间}止共{天}天</span>
              </div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;background-color: #EDF0F2;">审批人</td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" rowspan="2">月</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" rowspan="2">日</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">起止地点</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="6">交通住宿费用</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="3">出差补助</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" rowspan="2">金额小计</td>
            <td style="border-bottom: 1px solid #000000;vertical-align: top;padding: 0.705mm 1.411mm;" rowspan="3">
              <div style="line-height: 4.586mm;overflow:hidden;">主管财务负责人</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">出发</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">到达</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">车船费</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">夜间乘车费</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">住宿费</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">其他</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">天数</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">标准</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">金额</td>
          </tr>
          <tr style="height: 12.698mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{月1}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{日1}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{出发1省}{出发1市}{出发1区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{到达1省}{到达1市}{到达1区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{车船费1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{夜间乘车费1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{住宿费1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{其他1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{天数1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{标准1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{金额1}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{小计金额1}</div>
            </td>
          </tr>
          <tr style="height: 12.698mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{月2}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{日2}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{出发2省}{出发2市}{出发2区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{到达2省}{到达2市}{到达2区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{车船费2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{夜间乘车费2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{住宿费2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{其他2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{天数2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{标准2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{金额2}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{小计金额2}</div>
            </td>
            <td style="border-bottom: 1px solid #000000;vertical-align: top;padding: 0.705mm 1.411mm;" rowspan="3">
              <div style="line-height: 4.586mm;overflow:hidden;">财务负责人</div>
            </td>
          </tr>
          <tr style="height: 12.698mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{月3}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{日3}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{出发3省}{出发3市}{出发3区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{到达3省}{到达3市}{到达3区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{车船费3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{夜间乘车费3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{住宿费3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{其他3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{天数3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{标准3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{金额3}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{小计金额3}</div>
            </td>
          </tr>
          <tr style="height: 12.698mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{月4}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{日4}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{出发4省}{出发4市}{出发4区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{到达4省}{到达4市}{到达4区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{车船费4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{夜间乘车费4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{住宿费4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{其他4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{天数4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{标准4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{金额4}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{小计金额4}</div>
            </td>
          </tr>
          <tr style="height: 12.698mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{月5}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">{日5}</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{出发5省}{出发5市}{出发5区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{到达5省}{到达5市}{到达5区}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{车船费5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{夜间乘车费5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{住宿费5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{其他5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{天数5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{标准5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{金额5}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div style="max-height: 12.698mm;line-height: 6.349mm;overflow:hidden;word-break: break-all;">{小计金额5}</div>
            </td>
            <td style="vertical-align: top;padding: 0.705mm 1.411mm;" rowspan="2">
              <div style="line-height: 4.586mm;overflow:hidden;">报销人</div>
            </td>
          </tr>
          <tr style="height: 6.349mm;">
            <td style="border-right: 1px solid #000000;padding-left: 1.411mm;" colspan="12">合计人民币（大写）：{总金额大写}</td>
            <td style="text-align: center;border-right: 1px solid #000000;">小写</td>
            <td style="text-align: center;border-right: 1px solid #000000;">{总金额小写}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="height: 9.867mm;display: flex;flex-direction: row;justify-content: center;align-items: center;padding-right: 13.404mm;margin-top: 32.742mm;">
        <div style="width: 16.578mm;height: 0.353mm;background-image: linear-gradient(to right,black 0%, black 80%, transparent 50%);background-size: 6mm 0.353mm;background-repeat: repeat-x;"></div>
        <div style="font-size: 7.055mm;font-weight: 400;color: #000000;margin: 0 0.2mm;">车</div>
        <div style="width: 16.578mm;height: 0.353mm;background-image: linear-gradient(to right,black 0%, black 80%, transparent 50%);background-size: 6mm 0.353mm;background-repeat: repeat-x;"></div>
        <div style="font-size: 7.055mm;font-weight: 400;color: #000000;margin: 0 0.2mm;">票</div>
        <div style="width: 16.578mm;height: 0.353mm;background-image: linear-gradient(to right,black 0%, black 80%, transparent 50%);background-size: 6mm 0.353mm;background-repeat: repeat-x;"></div>
        <div style="font-size: 7.055mm;font-weight: 400;color: #000000;margin: 0 0.2mm;">粘</div>
        <div style="width: 16.578mm;height: 0.353mm;background-image: linear-gradient(to right,black 0%, black 80%, transparent 50%);background-size: 6mm 0.353mm;background-repeat: repeat-x;"></div>
        <div style="font-size: 7.055mm;font-weight: 400;color: #000000;margin: 0 0.2mm;">贴</div>
        <div style="width: 16.578mm;height: 0.353mm;background-image: linear-gradient(to right,black 0%, black 80%, transparent 50%);background-size: 6mm 0.353mm;background-repeat: repeat-x;"></div>
        <div style="font-size: 7.055mm;font-weight: 400;color: #000000;margin: 0 0.2mm;">处</div>
        <div style="width: 16.578mm;height: 0.353mm;background-image: linear-gradient(to right,black 0%, black 80%, transparent 50%);background-size: 6mm 0.353mm;background-repeat: repeat-x;"></div>
      </div>
      <div style="text-align: center;height: 80mm;width: 28.219mm;position: absolute;right: 16.623mm;top: 119mm">{SYS_NO_XSS_TRAVEL_PEOPLE}</div>
    </div>
  </div>
</div>
</body>
</html>
