<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "SYS_FLOW_TASK_OPERATOR_HISTORY": '王张起 发起审批 2023年08月32日 16:23:41\n张敬业 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41',
      "SYS_FLOW_TASK_CIRCULATE": '李杰克、张凯瑞、金广智'
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div style="width: 100%; height: 100%; color: #000000; display: flex; font-weight: 400; font-size: 3.18mm; font-family: STSongti-SC, STSongti-SC;">
    <div style="width: 58.201mm; height: 100%; display: flex; flex-flow: row; align-items: center;">
      <div style="height: 128.394mm; font-size: 7.055mm; font-weight: 400; color: #000000; display: flex; flex-direction: column; justify-content: space-between; margin-left: 14.109mm;">
        <div>装</div>
        <div>订</div>
        <div>线</div>
      </div>
      <div style="height: 154.849mm; width: 0.18mm; border-left: 0.18mm dashed #292C33; margin-left: 11.640mm;"></div>
    </div>
    <div style="flex: 1; height: 100%; position: relative;">
      <div style="height: 49.382mm; width: 100%; position: relative; overflow: hidden; padding-bottom: 4.233mm; display: flex; flex-direction: column; justify-content: space-between;">
        <div style="font-size: 6.349mm; line-height: 8.818mm; color: #000000; font-weight: 900; text-align: center; padding-top: 24.691mm; padding-right: 25.749mm;">三门峡市司法局机关警务执法用车单</div>
        <div style="display: flex; flex-direction: row; font-size: 3.175mm; padding-right: 25.749mm;">
          <div>单位盖章</div>
          <div style="display: flex; margin-left: auto;">
            <div>编号：</div>
            <div>{编号}</div>
          </div>
        </div>
      </div>
      <div style="overflow: hidden; display: inline-block;">
        <table style="font-size: 3.175mm; table-layout: fixed; border-collapse: collapse;">
          <tbody>
          <tr style="height: 0; font-size: 0;">
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 42.681mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center;border-left:1px solid #000000;border-top: 1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">用车部门</td>
            <td style="border-top: 1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 2.822mm;">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">
                <span class="" contenteditable="false" data-tag="headTable.用车科室">{用车科室}</span></div>
            </td>
            <td style="text-align: center; border-top: 1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">用车人</td>
            <td style="border-top: 1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 2.822mm;">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">{用车人}</div>
            </td>
            <td style="border-top: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000; padding-left: 2.822mm;">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">随行人员：{随行人员}</div>
            </td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center; border-left:1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">用车事由</td>
            <td style="border-bottom: 1px solid #000000; padding-left: 2.822mm;border-right: 1px solid #000000;" colspan="4">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">{用车事由}</div>
            </td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center; border-left:1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">用车日期</td>
            <td style="border-bottom: 1px solid #000000; padding-left: 2.822mm;border-right: 1px solid #000000;" colspan="4">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">
                <span class="" contenteditable="false" data-tag="headTable.开始时间">{开始时间}</span> 至
                <span class="" contenteditable="false" data-tag="headTable.结束时间">{结束时间}</span> （共<span class="" contenteditable="false" data-tag="headTable.天数">{天数}</span>天）
              </div>
            </td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center; border-left:1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">行车路线</td>
            <td style="border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 2.822mm;" colspan="2">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">
                <span class="" contenteditable="false" data-tag="headTable.出发市名称">{出发市名称}</span> 至
                <span class="" contenteditable="false" data-tag="headTable.目的地市名称">{目的地市名称}</span>
              </div>
            </td>
            <td style="text-align: center; border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">预计里程及油耗</td>
            <td style="border-bottom: 1px solid #000000; padding-left: 2.822mm;border-right: 1px solid #000000;">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">{预计里程及油耗}</div>
            </td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center; border-left:1px solid #000000;border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">派遣车辆</td>
            <td style="border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 2.822mm;">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">豫MD</div>
            </td>
            <td style="border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 2.822mm;">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">
                <span class="" contenteditable="false" data-tag="headTable.车牌">{车牌}</span></div>
            </td>
            <td style="text-align: center; border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #edf0f2;">司机</td>
            <td style="border-bottom: 1px solid #000000; padding-left: 2.822mm;border-right: 1px solid #000000;">
              <div style="max-height: 17.637mm; line-height: 17.637mm; overflow: hidden; word-break: break-all;">
                <span class="" contenteditable="false" data-tag="headTable.司机姓名">{司机姓名}</span></div>
            </td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center; border-left:1px solid #000000;border-right: 1px solid #000000; background-color: #edf0f2;border-bottom: 1px solid #000000;" rowspan="2">审批</td>
            <td style="border-right: 1px solid #000000; border-bottom: 1px solid #000000; text-align: center; background-color: #edf0f2;" colspan="1">部门领导审批</td>
            <td style="border-right: 1px solid #000000; border-bottom: 1px solid #000000; text-align: center; background-color: #edf0f2;" colspan="1">办公室车管干部签字</td>
            <td style="border-bottom: 1px solid #000000; text-align: center; background-color: #edf0f2;border-right: 1px solid #000000;" colspan="2">主管办公室领导签字</td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center;border-right: 1px solid #000000; border-bottom: 1px solid #000000;" colspan="1">{部门领导审批}</td>
            <td style="text-align: center;border-right: 1px solid #000000; border-bottom: 1px solid #000000;" colspan="1"></td>
            <td style="text-align: center;padding-left: 2.822mm;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="2"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-top: 4.233mm;">
        <div>说明：1、警务用车一天以内由车管干部审批，一天以上报主管警车领导审批。</div>
        <div style="margin-left: 9.5mm;">2、派车单审批后，由用车部门交由指定司机后产方可用车。</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
