<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../../cdn/lodash.min.js"></script>
  <script src="../../cdn/html2canvas.min.js"></script>
  <script src="../../cdn/FileSaver.min.js"></script>
  <script src="../../helper.js"></script>
  <script>
    const printData = {
      "申请日期": "2024年04月23日",
      "申请人": "张三",
      "使用部门": "财务部",
      "汇款人名称": "河南甘棠软件科技有限公司啦啦啦啦啦啦啦啦啦啦",
      "汇款人账号": "123456",
      "汇出行名称": "中国建设银行股份有限公司郑州啦啦啦啦啦",
      "收款人名称": "河南甘棠软件科技有限公司西安啦啦啦啦啦啦",
      "收款人账号": "654321",
      "汇入行名称": "中国建设银行股份有限公司西安啦啦啦啦啦啦啦",
      "金额大写": "贰万陆仟贰佰陆拾贰元整",
      "用途": "用于电子设备的采购",
      "备注": "真厉害呀",
      "经办人": "张三"
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;font-size: 4.938mm;">
    <div style="width: 23.633mm;height: 100%;display: flex;flex-flow: column;align-items: center;">
      <div style="height: 75mm;width: 0.219mm;border-left: 0.219mm dashed #292C33;"></div>
      <div style="font-size: 4.233mm;font-weight: 400;color: #292C33;">装</div>
      <div style="height: 23.5mm;width: 0.219mm;border-left: 0.219mm dashed #292C33;"></div>
      <div style="font-size: 4.233mm;font-weight: 400;color: #292C33;">订</div>
      <div style="height: 23.5mm;width: 0.219mm;border-left: 0.219mm dashed #292C33;"></div>
      <div style="font-size: 4.233mm;font-weight: 400;color: #292C33;">线</div>
      <div style="flex: 1;width: 0.219mm;border-left: 0.219mm dashed #292C33;"></div>
    </div>
    <div style="flex: 1;height: 100%;">
      <div style="height: 36.331mm;width: 100%;position: relative;overflow: hidden;">
        <div style="font-size: 9.876mm;color: #000000;font-weight: 800;letter-spacing: 3.880mm;text-align: center;padding-top: 8.466mm;padding-right: 10.582mm;">银行划款单</div>
      </div>
      <div style="border-radius: 5.233mm;border: 1px solid #000000;overflow: hidden;display: inline-block;">
        <table style="font-size: 4.938mm;table-layout: fixed;border-collapse: collapse;">
          <tbody>
          <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
            <td style="width: 20.934mm; border: none;"></td>
            <td style="width: 30.965mm; border: none;"></td>
            <td style="width: 42.740mm; border: none;"></td>
            <td style="width: 34.890mm; border: none;"></td>
            <td style="width: 20.934mm; border: none;"></td>
            <td style="width: 21.517mm; border: none;"></td>
            <td style="width: 9.876mm; border: none;"></td>
            <td style="width: 25.749mm; border: none;"></td>
            <td style="width: 51.899mm; border: none;"></td>
          </tr>
          <tr style="height: 13.956mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">使用部门</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm">
              <div style="height: 13.956mm;line-height: 13.956mm;overflow:hidden;">{使用部门}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;">申请人</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="2">
              <div style="height: 13.956mm;line-height: 13.956mm;overflow:hidden;">{申请人}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">申请日期</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm">
              <div style="height: 13.956mm;line-height: 13.956mm;overflow:hidden;">{申请日期}</div>
            </td>
          </tr>
          <tr style="height: 13.956mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" rowspan="3">汇款人</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;">名称</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="2">
              <div style="max-height: 13.956mm;line-height: 6.055mm;overflow:hidden;;word-break: break-all;">{汇款人名称}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" rowspan="3">收款人</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">名称</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="2">
              <div style="max-height: 13.956mm;line-height: 6.055mm;overflow:hidden;;word-break: break-all;">{收款人名称}</div>
            </td>
          </tr>
          <tr style="height: 13.956mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;">账号</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="2">
              <div style="height: 13.956mm;line-height: 13.956mm;overflow:hidden;">{汇款人账号}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">账号</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="2">
              <div style="height: 13.956mm;line-height: 13.956mm;overflow:hidden;">{收款人账号}</div>
            </td>
          </tr>
          <tr style="height: 13.956mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;">汇出行名称</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="2">
              <div style="max-height: 13.956mm;line-height: 6.055mm;overflow:hidden;;word-break: break-all;">{汇出行名称}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">汇入行名称</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="2">
              <div style="max-height: 13.956mm;line-height: 6.055mm;overflow:hidden;;word-break: break-all;">{汇入行名称}</div>
            </td>
          </tr>
          <tr style="height: 28.348mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">金额</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="7">
              <div style="height: 28.348mm;line-height: 28.348mm;overflow:hidden;">{金额大写}({金额小写})</div>
            </td>
          </tr>
          <tr style="height: 13.956mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">用途</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.938mm;padding-left: 4.586mm" colspan="7">
              <div style="height: 13.956mm;line-height: 13.956mm;overflow:hidden;">{用途}</div>
            </td>
          </tr>
          <tr style="height: 13.956mm;">
            <td style="text-align: center;border-right: 1px solid #000000;background-color: #EDF0F2;font-size: 4.938mm;" colspan="2">备注</td>
            <td style="font-size: 4.938mm;padding-left: 4.586mm" colspan="7">
              <div style="height: 13.956mm;line-height: 13.956mm;overflow:hidden;">{备注}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-top: 3.880mm;width: 100%;display: flex;align-items: center;">
        <div style="margin-left: 13.404mm;">财务总监：</div>
        <div style="width: 82.186mm;overflow: hidden;"></div>
        <div>主管部门：</div>
        <div style="width: 82.186mm;overflow: hidden;"></div>
        <div>经办人：</div>
        <div style="flex: 1;width: 0;overflow: hidden;">{经办人}</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
