<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../../cdn/lodash.min.js"></script>
  <script src="../../cdn/html2canvas.min.js"></script>
  <script src="../../cdn/FileSaver.min.js"></script>
  <script src="../../helper.js"></script>
  <script>
    const printData = {
      "创建人": "张东东",
      "创建时间": "2023-11-01",
      "情况说明": "车辆故障需要维修",
      "日期": "2023-11-01",
      "维修地点": "三门峡湖滨区吉祥汽修厂",
      "编号": 211,
      "设备名称": "公务用车",
      "设备型号": "大众Polo",
      "部门": "技术部",
      "预计金额": "250.00",
      "预计金额中文": "贰佰伍拾元整",
      "SYS_FLOW_TASK_OPERATOR_HISTORY": '王张起 发起审批 2023年08月32日 16:23:41\n张敬业 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41',
      "SYS_FLOW_TASK_CIRCULATE": '李杰克、张凯瑞、金广智',
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 210mm;height: 297mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;color: #000000;font-weight: 400;box-sizing: border-box;padding: 0 19.056mm;">
    <div style="font-size: 9.882mm;text-align: center;padding-top: 18mm;width: 100%;">维修申请单</div>
    <div style="margin-top: 14.118mm;display: flex;width: 100%;font-size: 4.941mm;">
      <div>三门峡崤云信息服务股份有限公司</div>
      <div style="margin-left: 5.638mm;">申请时间：{创建时间}</div>
    </div>
    <div style="border: 1px solid #C8C9CC;overflow: hidden;display: inline-block;position: relative;margin-top: 3.882mm;">
      <table style="font-size: 4.941mm;table-layout: fixed;border-collapse: collapse;">
        <tbody>
        <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
          <td style="width: 50mm; border: none;"></td>
          <td style="width: 121.5mm; border: none;"></td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">审批编号</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{编号}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">申请人</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{创建人}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">部门</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{部门}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">日期</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{日期}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;font-weight: 500;" colspan="2">维修信息</td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">设备名称</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{设备名称}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">设备型号</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{设备型号}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">维修地点</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{维修地点}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">预计金额（元）</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{预计金额}（{预计金额中文}）</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">情况说明</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{情况说明}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;font-weight: 500;" colspan="2">审批信息</td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">审批人</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{SYS_FLOW_TASK_OPERATOR_HISTORY}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">抄送</td>
          <td style="padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{SYS_FLOW_TASK_CIRCULATE}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
