<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../../cdn/lodash.min.js"></script>
  <script src="../../cdn/html2canvas.min.js"></script>
  <script src="../../cdn/FileSaver.min.js"></script>
  <script src="../../helper.js"></script>
  <script>
    const printData = {
      "sqsj": '2023年08月32日 16:23:41',
      "SYS_FLOW_TASK_OPERATOR_HISTORY": '王张起 发起审批 2023年08月32日 16:23:41\n张敬业 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41',
      "SYS_FLOW_TASK_CIRCULATE": '李杰克、张凯瑞、金广智',
      "applyTime": "2023年10月7日",
      "applyUser": "张东东",
      "id": 114,
      "organizeName": "技术部",
      "printAddress": "123",
      "printDate": "2023-10-07 00:00:00",
      "totalAmount": "100",
      "materials1": "名称:aa,数量:5,单位:个,单价:20,总价:100",
      "materials2": "名称:aa,数量:5,单位:个,单价:20,总价:100",
      "materials3": "名称:aa,数量:5,单位:个,单价:20,总价:100",
      "materials4": "名称:aa,数量:5,单位:个,单价:20,总价:100",
    }

    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 210mm;height: 297mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;color: #000000;font-weight: 400;box-sizing: border-box;padding: 0 19.056mm;">
    <div style="font-size: 9.882mm;text-align: center;padding-top: 18mm;width: 100%;">物料打印申请单</div>
    <div style="margin-top: 14.118mm;display: flex;width: 100%;font-size: 4.941mm;">
      <div style="">三门峡崤云信息服务股份有限公司</div>
      <div style="margin-left: 5.638mm;">申请时间：{applyTime}</div>
    </div>
    <div style="border: 1px solid #C8C9CC;overflow: hidden;display: inline-block;position: relative;margin-top: 3.882mm;">
      <table style="font-size: 4.941mm;table-layout: fixed;border-collapse: collapse;">
        <tbody>
        <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
          <td style="width: 50mm; border: none;"></td>
          <td style="width: 121.5mm; border: none;"></td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">审批编号</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{id}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">申请人</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{applyUser}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">申请人部门</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{organizeName}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">日期</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{printDate}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">打印地点</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{printAddress}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;font-weight: 500;" colspan="2">物料信息</td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">物料明细</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">
              <div>{materials1}</div>
              <div>{materials2}</div>
              <div>{materials3}</div>
              <div>{materials4}</div>
            </div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">总价（元）</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;" colspan="2">{totalAmount}</td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;font-weight: 500;" colspan="2">审批信息</td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;border-bottom: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">审批人</td>
          <td style="border-bottom: 1px solid #C8C9CC;padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{SYS_FLOW_TASK_OPERATOR_HISTORY}</div>
          </td>
        </tr>
        <tr style="height: 11mm;">
          <td style="border-right: 1px solid #C8C9CC;background-color: #EDF0F2;padding-left: 2.118mm;">抄送</td>
          <td style="padding: 2.118mm 0 1.765mm 3.882mm;">
            <div style="line-height: 7.059mm;overflow: hidden;word-break: break-all;">{SYS_FLOW_TASK_CIRCULATE}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
