<html lang="zh-Hans">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
    html,
    body,
    * {
      padding: 0;
      margin: 0;
    }
  </style>
  <script src="../../cdn/lodash.min.js"></script>
  <script src="../../cdn/html2canvas.min.js"></script>
  <script src="../../cdn/FileSaver.min.js"></script>
  <script src="../../helper.js"></script>
  <script>
    const printData = {
      "id": "512900271001663301",
      "公司名称": "三门峡崤云信息服务股份有限公司",
      "总金额大写": "伍佰元整",
      "总金额小写": 500.00,
      "报销人": "郭梦薇",
      "摘要1": "hkhihihi",
      "摘要2": "",
      "摘要3": "",
      "摘要4": "",
      "申请时间": "2024年6月14日",
      "科目1": "222",
      "科目2": "",
      "科目3": "",
      "科目4": "",
      "编号": 485,
      "部门": "三门峡崤云信息服务股份有限公司",
      "金额大写1": "",
      "金额大写2": "",
      "金额大写3": "",
      "金额大写4": "",
      "金额小写1": "500",
      "金额小写2": "",
      "金额小写3": "",
      "金额小写4": "",
      "附单据数1": "3",
      "附单据数2": "",
      "附单据数3": "",
      "附单据数4": "",
      "项目名称": "hghkjhk",
      "云服务每年预算成本": "100"
    }
    console.log('printData', printData)
  </script>
</head>

<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点"
     style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);"
>
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;">
    <div style="width: 43.386mm;height: 100%;display: flex;flex-flow: row;align-items: center;">
      <div style="height: 128.394mm;font-size: 7.055mm;font-weight: 400;color: #000000;display: flex;flex-direction: column;justify-content: space-between;margin-left: 14.109mm;">
        <div>装</div>
        <div>订</div>
        <div>线</div>
      </div>
      <div style="height: 154.849mm;width: 0.18mm;border-left: 0.18mm dashed #292C33;margin-left: 11.640mm;"></div>
    </div>
    <div style="flex: 1;height: 100%;">
      <div style="height: 28.262mm;width: 100%;position: relative;overflow: hidden;padding-bottom: 7.055mm;display: flex;flex-direction: column;justify-content: end;">
        <div style="font-size: 6.349mm;line-height:8.818mm;color: #000000;font-weight: 900;text-align: center;padding-right: 22.575mm;">云服务申请单</div>
      </div>
      <div style="border: 1px solid #000000;overflow: hidden;display: inline-block;">
        <table style="font-size: 3.175mm;table-layout: fixed;border-collapse: collapse;">
          <tbody>
            <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
              <td style="width: 22.850mm; border: none;"></td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">申请人</td>
              <td style="text-align: left;padding-left: 2.82mm;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="3">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{申请人applyUserName}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">申请部门</td>
              <td style="text-align: left;padding-left: 2.82mm;border-bottom: 1px solid #000000;" colspan="3">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{申请部门deptName}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">上云项目前置单编号</td>
              <td style="text-align: left;padding-left: 2.82mm;border-bottom: 1px solid #000000;" colspan="8">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{上云项目前置单编号}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">云服务类型</td>
              <td style="text-align: left;padding-left: 2.82mm;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="3">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云服务类型}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">托管物理服务器名称</td>
              <td style="text-align: left;padding-left: 2.82mm;border-bottom: 1px solid #000000;" colspan="3">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{托管物理服务器名称}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">托管物理服务器数量</td>
              <td style="text-align: left;padding-left: 2.82mm;border-right: 1px solid #000000;border-bottom: 1px solid #000000;" colspan="3">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{托管物理服务器数量}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="2">公网IP数量</td>
              <td style="text-align: left;padding-left: 2.82mm;border-bottom: 1px solid #000000;" colspan="3">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{公网IP数量}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">资源类型</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">CPU（核）</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">内存（GB）</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">系统盘（GB）</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">数据盘（GB）</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">操作系统</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">数量（台）</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">云网络区域</td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">用途</td>
              <td style="text-align: center;border-bottom: 1px solid #000000;background-color: #EDF0F2;" colspan="1">环境类型</td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU1}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存1}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘1}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘1}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统1}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量1}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域1}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途1}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型1}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU2}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存2}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘2}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘2}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统2}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量2}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域2}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途2}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型2}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU3}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存3}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘3}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘3}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统3}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量3}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域3}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途3}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型3}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域4}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途4}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型4}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域5}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途5}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型5}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域6}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途6}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型6}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域7}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途7}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型7}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域8}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途8}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型8}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域9}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途9}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型9}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{资源类型10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{CPU10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{内存10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{系统盘10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数据盘10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{操作系统10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{数量10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{云网络区域10}</div>
              </td>
              <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{用途10}</div>
              </td>
              <td style="text-align: center;border-bottom: 1px solid #000000;">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{环境类型10}</div>
              </td>
            </tr>
            <tr style="height: 9.172mm;">
              <td style="text-align: center;border-right: 1px solid #000000;background-color: #EDF0F2;" colspan="2">本次云服务成本（元）</td>
              <td style="text-align: left;padding-left: 2.82mm;" colspan="8">
                <div style="max-height: 9.172mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">{本次云服务成本}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-top: 4.233mm;width: 100%;display: flex;font-size: 3.175mm;line-height: 4.586mm;">
        <div style="width: 49.030mm;display: flex;">
          <div style="word-break: keep-all">部门负责人审批：</div>
          <div style="overflow: hidden;"></div>
        </div>
        <div style="width: 53.615mm;display: flex;">
          <div style="word-break: keep-all">部门分管领导审批：</div>
          <div style="overflow: hidden;"></div>
        </div>
        <div style="width: 44.092mm;display: flex;">
          <div style="word-break: keep-all">运维部分管审批：</div>
          <div style="overflow: hidden;"></div>
        </div>
        <div style="width: 44.092mm;display: flex;">
          <div style="word-break: keep-all">总经理审批：</div>
          <div style="overflow: hidden;"></div>
        </div>
        <div style="width: 44.092mm;display: flex;">
          <div style="word-break: keep-all">运维部办结：</div>
          <div style="overflow: hidden;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
