<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../../cdn/lodash.min.js"></script>
  <script src="../../cdn/html2canvas.min.js"></script>
  <script src="../../cdn/FileSaver.min.js"></script>
  <script src="../../helper.js"></script>
  <script>
    const printData = {
      "applyUserName": "张东东",
      "内容": "本次出差去的时候做的火车，回来时坐的同事开的车"
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 210mm;height: 297mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;color: #000000;font-weight: 400;box-sizing: border-box;padding: 0 19.056mm;position: relative">
    <div style="font-size: 9.882mm;text-align: center;padding-top: 18mm;width: 100%;">特殊情况说明</div>
    <div style="margin-top: 14.118mm;display: flex;width: 100%;font-size: 4.941mm;">
      <div style="">{内容}</div>
    </div>
    <div style="position: absolute; bottom: 30mm; width: 100%;display: flex;align-items: center;">
        <div>董事长</div>
        <div style="width: 20mm;overflow: hidden;"></div>
        <div>总经理</div>
        <div style="width: 20mm;overflow: hidden;"></div>
        <div>财务总监</div>
        <div style="width: 20mm;overflow: hidden;"></div>
        <div>部门负责人</div>
        <div style="width: 20mm;overflow: hidden;"></div>
        <div>报销人</div>
        <div style="flex: 1;width: 0;overflow: hidden;margin-left: 1mm;">{applyUserName}</div>
      </div>
  </div>
</div>
</body>
</html>
