<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "申请时间": '2023年08月32日 16:23:41',
      "审批编号": '20240656854125685956',
      "申请人": '王五',
      "申请日期": '2023年08月32日',
      "借款事由": '买榴莲',
      "金额": '1999.86',
      "支付方式": '银行转账',
      "开户行": '建设银行三门峡支行',
      "银行帐号": '6228480265685412563',
      "SYS_FLOW_TASK_OPERATOR_HISTORY": '王张起 发起审批 2023年08月32日 16:23:41\n张敬业 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41\n李自强 已审批（同意） 2023年08月32日 16:23:41',
      "SYS_FLOW_TASK_CIRCULATE": '李杰克、张凯瑞、金广智'
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 210mm;height: 297mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;display: flex;flex-flow: column;justify-content: flex-start;padding-top: 17.65mm;color: #000000;font-weight: 400;font-size: 3.18mm;font-family: STSongti-SC, STSongti-SC;">
    <div style="font-size: 6.35mm;line-height: 8.82mm;text-align: center;">借款申请单</div>
    <div style="margin-top: 7.06mm;padding-left: 22.59mm;">
      <span>三门峡市中心医院</span>
      <span style="margin-left: 7.06mm;">申请时间：</span>
      <span>{申请时间}</span>
    </div>
    <div style="margin-top: 2.82mm;padding-left: 22.59mm;">
      <div style="width: 100%;position: relative;width: 164mm;">
        <table style="table-layout: fixed;border-collapse: collapse;font-size: 3.18mm;font-weight: 400;font-style: normal;">
          <tbody>
          <tr style="height: 0;" t="本行用于控制列宽">
            <td style="width: 40.94mm;"></td>
            <td style="width: 40.94mm;"></td>
            <td style="width: 40.94mm;"></td>
            <td style="width: 40.94mm;"></td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">审批编号</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-top:0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{审批编号}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">申请人</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{申请人}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">申请日期</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{申请日期}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">借款事由</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{借款事由}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">金额</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{金额}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;font-weight: 500;" colspan="4">支付信息</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">支付方式</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{支付方式}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">开户行</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{开户行}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">银行帐号</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{银行帐号}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;font-weight: 500;" colspan="4">审批信息</td>
          </tr>
          <tr style="height: 35.29mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">审批人</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{SYS_FLOW_TASK_OPERATOR_HISTORY}</td>
          </tr>
          <tr style="height: 8.82mm;">
            <td style="text-align: left;background-color: #EDF0F2;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;border-left: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="1">抄送</td>
            <td style="text-align: left;border-right: 0.35mm solid #C8C9CC;border-bottom: 0.35mm solid #C8C9CC;padding: 0 2.82mm;" colspan="3">{SYS_FLOW_TASK_CIRCULATE}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
