<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "发票金额": 2501.00,
      "合同名称": "合同名称合同名称合同名称合同名称合同名称合同名称合同名称合同名称",
      "合同编号": "22511412",
      "合同金额": 20121.00,
      "差异化备注": "",
      "开户行号": "3251452125412",
      "开户银行": "中国建设银行股份有限公司三门峡啦啦啦啦",
      "收款方名称": "三门峡市住房公积金管理中心啦啦啦啦啦啦",
      "收款方证件号": "",
      "申请付款进度": "那你就好",
      "申请付款金额": 2201.00,
      "申请时间": "2023年10月09日",
      "项目名称": "项目名称项目名称项目名称项目名称项目名称项目名称项目名称项目名称",
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 240mm;height: 140mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;">
    <div style="width: 19mm;height: 100%;display: flex;flex-flow: column;align-items: center;">
      <div style="height: 47.93mm;width: 0.18mm;border-left: 0.18mm dashed #292C33;"></div>
      <div style="font-size: 3.52mm;font-weight: 400;color: #292C33;">装</div>
      <div style="height: 14.8mm;width: 0.18mm;border-left: 0.18mm dashed #292C33;"></div>
      <div style="font-size: 3.52mm;font-weight: 400;color: #292C33;">订</div>
      <div style="height: 14.8mm;width: 0.18mm;border-left: 0.18mm dashed #292C33;"></div>
      <div style="font-size: 3.52mm;font-weight: 400;color: #292C33;">线</div>
      <div style="flex: 1;width: 0.18mm;border-left: 0.18mm dashed #292C33;"></div>
    </div>
    <div style="flex: 1;height: 100%;">
      <div style="height: 29.6mm;width: 100%;position: relative;overflow: hidden;">
        <div style="font-size: 8.46mm;color: #000000;font-weight: 800;letter-spacing: 3.524mm;text-align: center;padding-top: 6.34mm;padding-right: 9.837mm;">项目付款申请单</div>
        <div style="display: flex;align-items: center;height: 10.925mm;box-sizing: border-box;padding-right: 9.837mm;">
          <div style="font-weight: 500;flex: 1;text-align: center;">三门峡崤云视联科技有限公司</div>
        </div>
      </div>
      <div style="border-radius: 4.32mm;border: 1px solid #000000;overflow: hidden;display: inline-block;">
        <table style="font-size: 4.229mm;table-layout: fixed;border-collapse: collapse;">
          <tbody>
          <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
            <td style="width: 42.291mm; border: none;"></td>
            <td style="width: 63.436mm; border: none;"></td>
            <td style="width: 42.291mm; border: none;"></td>
            <td style="width: 63.436mm; border: none;"></td>
          </tr>
          <tr style="height: 11.278mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">项目名称</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="max-height: 11.278mm;line-height: 5.639mm;overflow:hidden;word-break: break-all;">{项目名称}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">申请时间</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{申请时间}</div>
            </td>
          </tr>
          <tr style="height: 11.278mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">合同名称</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="max-height: 11.278mm;line-height: 5.639mm;overflow:hidden;word-break: break-all;">{合同名称}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">合同编号</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{合同编号}</div>
            </td>
          </tr>
          <tr style="height: 11.278mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">申请付款进度</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{申请付款进度}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">合同总价</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{合同金额}</div>
            </td>
          </tr>
          <tr style="height: 11.278mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">申请付款金额</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{申请付款金额}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">发票/收据金额</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{发票金额}</div>
            </td>
          </tr>
          <tr style="height: 22.907mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">
              <div>若与合同约定有</div>
              <div>差异请说明原因</div>
            </td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm" colspan="3">
              <div style="height: 22.907mm;overflow:hidden;display: flex;align-items: center;">{差异化备注}</div>
            </td>
          </tr>
          <tr style="height: 11.278mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">收款方名称</td>
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="max-height: 11.278mm;line-height: 5.639mm;overflow:hidden;word-break: break-all;">{收款方名称}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">开户银行</td>
            <td style="border-bottom: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="max-height: 11.278mm;line-height: 5.639mm;overflow:hidden;word-break: break-all;">{开户银行}</div>
            </td>
          </tr>
          <tr style="height: 11.278mm;">
            <td style="text-align: center;border-right: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">收款方证号</td>
            <td style="border-right: 1px solid #000000;font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{收款方证件号}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;background-color: #EDF0F2;font-size: 4.229mm;">开户行号</td>
            <td style="font-size: 4.229mm;padding-left: 2.467mm">
              <div style="height: 11.278mm;line-height: 11.278mm;overflow:hidden;">{开户行号}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-top: 2.819mm;width: 100%;display: flex;align-items: center;">
        <div style="margin-left: 2.819mm;">董事长</div>
        <div style="width: 28.194mm;overflow: hidden;"></div>
        <div>总经理</div>
        <div style="width: 28.194mm;overflow: hidden;"></div>
        <div>副总经理</div>
        <div style="width: 28.194mm;overflow: hidden;"></div>
        <div>项目负责人</div>
        <div style="width: 28.194mm;overflow: hidden;"></div>
        <div>经办人</div>
        <div style="flex: 1;width: 0;overflow: hidden;padding-left: 2.467mm;">{经办人}</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
