<html lang="zh-Hans">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <style>
      html,
      body,
      * {
        padding: 0;
        margin: 0;
      }
    </style>
    <script src="../cdn/lodash.min.js"></script>
    <script src="../cdn/html2canvas.min.js"></script>
    <script src="../cdn/FileSaver.min.js"></script>
    <script src="../helper.js"></script>
    <script>
      const printData = {
        办事地点: "北京市大同区",
        备注: "哈哈哈哈厉害",
        座机: "021-123456",
        手机: "15239893228",
        用车事由: "防晒霜山山水水 生生世世",
        用车开始时间: "2023-10-26",
        用车结束时间: "2023-10-27",
        申请人: "柴进勇",
        申请科室: "电子信息科",
        车辆类型1: "大巴3辆",
        车辆类型2: "越野车1辆",
        车辆类型3: "",
        车辆类型4: ""
      };
      console.log("printData", printData);
    </script>
  </head>
  <body>
    <div style="text-align: center;padding-top: 10px;">
      <button onclick="preview('container',printData)">渲染模拟数据</button>
      <button onclick="toImage('container')">生成图片</button>
    </div>
    <div
      id="container"
      t="模板不包含本节点"
      style="width: 210mm;height: 297mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);"
    >
      <div
        t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内"
        style="width: 100%;height: 100%;color: #000000;font-weight: 400;box-sizing: border-box;padding: 0 21.529mm;"
      >
        <div
          style="font-size: 7.571mm;line-height: 1;text-align: center;padding-top: 35.294mm;width: 100%;"
        >
          <div>三门峡市城市管理局采购（支出）事先审批单</div>
        </div>
        <div
          style="font-size: 3.575mm;line-height:1;text-align: center;padding-top: 10.294mm;width: 100%; display: flex;justify-content: flex-end;"
        >
          <span style="margin-right: 3mm;">
            <!-- {年}&nbsp;年&nbsp;&nbsp;{月}&nbsp;&nbsp;月&nbsp;&nbsp;{日}&nbsp;&nbsp;日 -->
            {申请日期}
          </span>
        </div>
        <div
          style="border: 1px solid #000000;overflow: hidden;display: inline-block;position: relative;margin-top: 3.588mm;"
        >
          <table
            style="font-size: 3.941mm;table-layout: fixed;border-collapse: collapse;"
          >
            <tbody>
              <tr
                style="height: 0;border-style: hidden;"
                t="本行不显示,用于控制列宽"
              >
                <td style="width: 27.353mm; border: none;"></td>
                <td style="width: 41.582mm; border: none;"></td>
                <td style="width: 17.176mm; border: none;"></td>
                <td style="width: 32.176mm; border: none;"></td>
                <td style="width: 25.476mm; border: none;"></td>
                <td style="width: 27.176mm; border: none;"></td>
              </tr>
              <tr style="height: 17.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  申请部门
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;padding: 2.471mm 3.529mm;"
                  colspan="2"
                >
                  <div
                    style="max-height: 21.177mm;line-height: 7.059mm;overflow: hidden;word-break: break-all;"
                  >
                    {申请部门applyDept}
                  </div>
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  申请部门负责人
                </td>
                <td
                  style="border-bottom: 1px solid #000000;padding: 2.471mm 3.529mm;"
                  colspan="2"
                >
                  <div
                    style="max-height: 21.177mm;line-height: 7.059mm;overflow: hidden;word-break: break-all;"
                  >
                    {申请部门负责人}
                  </div>
                </td>
              </tr>
              <tr style="height: 17.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  经办人
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;padding: 2.471mm 3.529mm;"
                  colspan="2"
                >
                  <div
                    style="max-height: 7.059mm;line-height: 7.059mm;overflow: hidden;word-break: break-all;"
                  >
                    {经办人agent}
                  </div>
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  金额（元）
                </td>
                <td
                  style="border-bottom: 1px solid #000000;padding: 2.471mm 3.529mm;"
                  colspan="2"
                >
                  <div
                    style="max-height: 7.059mm;line-height: 7.059mm;overflow: hidden;word-break: break-all;"
                  >
                    {总金额}
                  </div>
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                  rowspan="8"
                >
                  规格
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  品名
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  型号
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  数量
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  单价
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  预算金额
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {品名1}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {型号1}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {数量1}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {单价1}
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  {预算金额1}
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {品名2}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {型号2}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {数量2}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {单价2}
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  {预算金额2}
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {品名3}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {型号3}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {数量3}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {单价3}
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  {预算金额3}
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {品名4}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {型号4}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {数量4}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {单价4}
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  {预算金额4}
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {品名5}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {型号5}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {数量5}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {单价5}
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  {预算金额5}
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {品名6}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {型号6}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {数量6}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {单价6}
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  {预算金额6}
                </td>
              </tr>
              <tr style="height: 11.506mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {品名7}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {型号7}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {数量7}
                </td>
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  {单价7}
                </td>
                <td
                  style="border-bottom: 1px solid #000000;text-align: center;"
                >
                  {预算金额7}
                </td>
              </tr>
              <tr style="height: 29.706mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  事由
                </td>
                <td
                  style="border-bottom: 1px solid #000000;padding: 2.471mm 3.529mm;"
                  colspan="5"
                >
                  <div
                    style="max-height: 7.059mm;line-height: 7.059mm;overflow: hidden;word-break: break-all;"
                  >
                    {申请事项事由}
                  </div>
                </td>
              </tr>
              <tr style="height: 21.706mm;">
                <td
                  style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                >
                  主管业务局长
                </td>
                <td
                  style="border-bottom: 1px solid #000000;padding: 2.471mm 3.529mm;"
                  colspan="5"
                >
                  <div
                    style="max-height: 7.059mm;line-height: 7.059mm;overflow: hidden;word-break: break-all;"
                  >
                    {主管业务局长}
                  </div>
                </td>
              </tr>
              <tr style="height: 21.706mm;">
                <td style="border-right: 1px solid #000000;text-align: center;">
                  主管财务局长
                </td>
                <td style="padding: 2.471mm 3.529mm;" colspan="5">
                  <div
                    style="max-height: 7.059mm;line-height: 7.059mm;overflow: hidden;word-break: break-all;"
                  >
                    {主管财务局长}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
