<html lang="zh-Hans">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <style>
      html,
      body,
      * {
        padding: 0;
        margin: 0;
      }
    </style>
    <script src="../cdn/lodash.min.js"></script>
    <script src="../cdn/html2canvas.min.js"></script>
    <script src="../cdn/FileSaver.min.js"></script>
    <script src="../helper.js"></script>
    <script>
      const printData = {
        住宿费1: "",
        住宿费2: "",
        住宿费3: "",
        住宿费4: "",
        住宿费5: "",
        其他1: "",
        其他2: "",
        其他3: "",
        其他4: "",
        其他5: "",
        "出发1-区": "",
        "出发1-市": "",
        "出发1-省": "",
        "出发2-区": "",
        "出发2-市": "",
        "出发2-省": "",
        "出发3-区": "",
        "出发3-市": "",
        "出发3-省": "",
        "出发4-区": "",
        "出发4-市": "",
        "出发4-省": "",
        "出发5-区": "",
        "出发5-市": "",
        "出发5-省": "",
        出差事由: "",
        出差开始时间: "",
        出差结束时间: "",
        "到达1-区": "",
        "到达1-市": "",
        "到达1-省": "",
        "到达2-区": "",
        "到达2-市": "",
        "到达2-省": "",
        "到达3-区": "",
        "到达3-市": "",
        "到达3-省": "",
        "到达4-区": "",
        "到达4-市": "",
        "到达4-省": "",
        "到达5-区": "",
        "到达5-市": "",
        "到达5-省": "",
        填表日期: "2023年10月25日",
        夜间乘车费1: "",
        夜间乘车费2: "",
        夜间乘车费3: "",
        夜间乘车费4: "",
        夜间乘车费5: "",
        天: "",
        天数1: "",
        天数2: "",
        天数3: "",
        天数4: "",
        天数5: "",
        姓名: "哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈",
        小计金额1: "",
        小计金额2: "",
        小计金额3: "",
        小计金额4: "",
        小计金额5: "",
        总金额大写: "",
        总金额小写: "",
        日1: "",
        日2: "",
        日3: "",
        日4: "",
        日5: "",
        月1: "",
        月2: "",
        月3: "",
        月4: "",
        月5: "",
        标准1: "",
        标准2: "",
        标准3: "",
        标准4: "",
        标准5: "",
        职别: "",
        火车费1: "",
        火车费2: "",
        火车费3: "",
        火车费4: "",
        火车费5: "",
        金额1: "",
        金额2: "",
        金额3: "",
        金额4: "",
        金额5: "",
        SYS_NO_XSS_TRAVEL_PEOPLE:
          "<img src='https://testminio.smxzhcs.cn:30060/jnpfsoftoss/xy-cicada/public/WebAnnexFile/6563e85bd5ded153250a45e4.png' style='width: 49%'/><img src='https://testminio.smxzhcs.cn:30060/jnpfsoftoss/xy-cicada/public/WebAnnexFile/6563e85bd5ded153250a45e4.png' style='width: 49%' />"
      };
      console.log("printData", printData);
    </script>
  </head>
  <body>
    <div style="text-align: center;padding-top: 10px;">
      <button onclick="preview('container',printData)">渲染模拟数据</button>
      <button onclick="toImage('container')">生成图片</button>
    </div>
    <div
      id="container"
      t="模板不包含本节点"
      style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);"
    >
      <div
        t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内"
        style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;"
      >
        <div
          style="width: 43.561mm;height: 100%;display: flex;flex-flow: row;align-items: center;"
        >
          <div
            style="height: 128.394mm;font-size: 4.055mm;font-weight: 400;color: #000000;display: flex;flex-direction: column;align-items: center;justify-content: space-between;margin-left: 27.109mm;"
          >
            <div style="border-left: 1px dashed #000000;height: 28mm;"></div>
            <div style="margin: 5mm 0;">装</div>
            <div style="border-left: 1px dashed #000000;height: 28mm;"></div>
            <div style="margin: 5mm 0;">订</div>
            <div style="border-left: 1px dashed #000000;height: 28mm;"></div>
            <div style="margin: 5mm 0;">线</div>
            <div style="border-left: 1px dashed #000000;height: 28mm;"></div>
          </div>
          <div
            style="height: 161.849mm;width: 0.18mm;border-left: 0.18mm solid #292C33;margin-left: 5.640mm;"
          ></div>
        </div>
        <div style="flex: 1;height: 100%;position: relative">
          <div
            style="box-sizing: border-box;height: 52.910mm;width: 234mm;position: relative;overflow: hidden;padding-bottom: 4.233mm;display: flex;flex-direction: column;justify-content: space-between;"
          >
            <div
              style="font-size: 6.349mm;line-height: 1;color: #000000;text-align: center;padding-top: 28.219mm;"
            >
              三门峡市城市管理局出差旅费报销单
            </div>
            <div
              style="width: 100%;;height: 1mm;border-top: 1px solid #000000;border-bottom: 1px solid #000000;"
            ></div>
            <div
              style="box-sizing: border-box;display: flex;justify-content: space-between;align-items:baseline;margin-top: 2.116mm;font-size: 3.175mm;"
            >
              <div style="width: 106mm;">单位名称（盖章）：{单位名称}</div>
              <div>出差事由：{出差事由}</div>
              <div style="margin-left: auto;">
                <!-- {年}&nbsp;年&nbsp;{月}&nbsp;月&nbsp;{日}&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;附件&nbsp;{附件张数}&nbsp;张 -->
                {填表日期}&nbsp;&nbsp;&nbsp;&nbsp;附件&nbsp;{附件张数}&nbsp;张
              </div>
            </div>
          </div>
          <div
            style="border: 1px solid #000000;overflow: hidden;display: inline-block;"
          >
            <table
              style="font-size: 3.62mm;table-layout: fixed;border-collapse: collapse;"
            >
              <tbody>
                <tr
                  style="height: 0;border-style: hidden;"
                  t="本行不显示,用于控制列宽"
                >
                  <td style="width: 7mm; border: none;"></td>
                  <td style="width: 7mm; border: none;"></td>
                  <td style="width: 20mm; border: none;"></td>
                  <td style="width: 20mm; border: none;"></td>
                  <td style="width: 15mm; border: none;"></td>
                  <td style="width: 15mm; border: none;"></td>
                  <td style="width: 15mm; border: none;"></td>
                  <td style="width: 16mm; border: none;"></td>
                  <td style="width: 13mm; border: none;"></td>
                  <td style="width: 13mm; border: none;"></td>
                  <td style="width: 13mm; border: none;"></td>
                  <td style="width: 13mm; border: none;"></td>
                  <td style="width: 13mm; border: none;"></td>
                  <td style="width: 13mm; border: none;"></td>
                  <td style="width: 40mm; border: none;"></td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;padding-left: 1.522mm;"
                    colspan="4"
                  >
                    姓名：{报销人}
                  </td>
                  <td
                    style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;padding-left: 1.522mm;box-sizing: border-box;"
                    colspan="4"
                  >
                    职别：{职别}
                  </td>
                  <td
                    style="border-bottom: 1px solid #000000;padding-left: 1.522mm;box-sizing: border-box;"
                    colspan="7"
                  >
                    本次出差时间：自{出差开始时间}至{出差结束时间}止共{天数}天
                  </td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    rowspan="2"
                  >
                    月
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    rowspan="2"
                  >
                    日
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    colspan="2"
                  >
                    起止地点
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    colspan="4"
                  >
                    交通食宿费
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    colspan="3"
                  >
                    市内交通
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                    colspan="3"
                  >
                    伙食补助费
                  </td>
                  <td
                    style="text-align: center;border-bottom: 1px solid #000000;"
                    rowspan="2"
                  >
                    金额小计（元）
                  </td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    出发
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    到达
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    火车费
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    汽车费
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    住宿费
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    其他
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    天数
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    标准
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    金额
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    天数
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    标准
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    金额
                  </td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {月1}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {日1}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {出发1省}{出发1市}{出发1区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {到达1省}{到达1市}{到达1区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {火车费1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {汽车费1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {住宿费1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {其它1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通天数1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通标准1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通金额1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助天数1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助标准1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助金额1}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {金额小计1}
                    </div>
                  </td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {月2}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {日2}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {出发2省}{出发2市}{出发2区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {到达2省}{到达2市}{到达2区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {火车费2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {汽车费2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {住宿费2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {其它2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通天数2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通标准2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通金额2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助天数2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助标准2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助金额2}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {金额小计2}
                    </div>
                  </td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {月3}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {日3}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {出发3省}{出发3市}{出发3区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {到达3省}{到达3市}{到达3区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {火车费3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {汽车费3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {住宿费3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {其它3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通天数3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通标准3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通金额3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助天数3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助标准3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助金额3}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {金额小计3}
                    </div>
                  </td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {月4}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    {日4}
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {出发4省}{出发4市}{出发4区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {到达4省}{到达4市}{到达4区}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {火车费4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {汽车费4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {住宿费4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {其它4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通天数4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通标准4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {市内交通金额4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助天数4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助标准4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {伙食补助金额4}
                    </div>
                  </td>
                  <td
                    style="text-align: center;border-bottom: 1px solid #000000;"
                  >
                    <div
                      style="line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                    >
                      {金额小计4}
                    </div>
                  </td>
                </tr>
                <tr style="height: 14.572mm;">
                  <td
                    style="font-size: 3.62mm;padding-left: 1.522mm;border-right: 1px solid #000000;"
                    colspan="14"
                  >
                    <!-- 合计人民币（大写）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{万}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;万&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{千}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仟&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{百}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;佰&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{十}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拾&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{元}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{角}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{分}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分 -->
                    合计人民币（大写）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{合计人民币大写}
                  </td>
                  <td
                    style="font-size: 3.62mm;text-align: center;"
                    colspan="14"
                  >
                    {合计}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            style="margin-top: 4.033mm;display: flex;align-items: center;font-size: 3.62mm;line-height: 1;"
          >
            <div style="margin-left: 1.522mm;">主管财务负责人：</div>
            <div style="width: 28.219mm;overflow: hidden;"></div>
            <div>财务负责人：</div>
            <div style="width: 28.219mm;overflow: hidden;"></div>
            <div>主管部门负责人：</div>
            <div style="width: 28.219mm;overflow: hidden;"></div>
            <div>报销人：</div>
            <div style="flex: 1;width: 0;overflow: hidden;margin-left: 1mm;">
              {报销人}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
