<html lang="zh-Hans">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <style>
      html,
      body,
      * {
        padding: 0;
        margin: 0;
      }
    </style>
    <script src="../cdn/lodash.min.js"></script>
    <script src="../cdn/html2canvas.min.js"></script>
    <script src="../cdn/FileSaver.min.js"></script>
    <script src="../helper.js"></script>
    <script>
      const printData = {
        交通工具: "121",
        出发1区: "工农区",
        出发1市: "鹤岗市",
        " 出发1省": "黑龙江省",
        出发2区: "",
        出发2市: "",
        出发2省: "",
        出发3区: "",
        出发3市: "",
        出发3省: "",
        出发4区: "",
        出发4市: "",
        出发4省: "",
        出差事由: "2623",
        出差人: "孙晓茜",
        出差开始时间: "2023-10-24",
        出差结束时间: "2023-10-24",
        到达1区: "长宁区",
        到达1市: "市辖区",
        到达1省: "上海市",
        到达2区: "",
        到达2市: "",
        到达2省: "",
        到达3区: "",
        到达3市: "",
        到达3省: "",
        到达4区: "",
        到达4市: "",
        到达4省: "",
        填表日期: "2023年10月24日",
        是否带车: "是",
        职务: "科员",
        费用支付单位: "12232"
      };
      console.log("printData", printData);
    </script>
  </head>
  <body>
    <div style="text-align: center;padding-top: 10px;">
      <button onclick="preview('container',printData)">渲染模拟数据</button>
      <button onclick="toImage('container')">生成图片</button>
    </div>
    <div
      id="container"
      t="模板不包含本节点"
      style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);"
    >
      <div
        t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内"
        style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;"
      >
        <div
          style="width: 4.24mm;padding: 0mm 10.58mm;display: flex;flex-flow: column;align-items: center;justify-content: space-between;font-weight: 400;font-size: 4.23mm;color: #292C33;"
        >
          <div
            style="border-left: 1px dashed #000000;height: calc((100% - 68mm)/2);"
          ></div>
          <div style="margin: 1.2mm 0;">装</div>
          <div style="border-left: 1px dashed #000000;height: 28mm;"></div>
          <div style="margin: 1.2mm 0;">订</div>
          <div style="border-left: 1px dashed #000000;height: 28mm;"></div>
          <div style="margin: 1.2mm 0;">线</div>
          <div
            style="border-left: 1px dashed #000000;height: calc((100% - 68mm)/2);"
          ></div>
        </div>
        <div style="flex: 1 0 calc(100% - 25.4mm);height: 100%;">
          <div
            style="position: relative;overflow: hidden;padding-bottom: 11.99mm;display: flex;flex-direction: column;justify-content: space-between;"
          >
            <div
              style="font-size: 9.88mm;line-height:14.11mm;color: #000000;font-weight: 900;text-align: center;padding-top: 21.16mm;letter-spacing: 2.82mm;"
            >
              市局行政章使用登记审批表
            </div>
          </div>
          <div
            style="border: 1px solid #000000;overflow: hidden;display: inline-block;"
          >
            <table
              style="font-size: 4.94mm;table-layout: fixed;border-collapse: collapse;"
            >
              <tbody>
                <tr
                  style="height: 0;border-style: hidden;"
                  t="本行不显示,用于控制列宽"
                >
                  <td style="width: 42.68mm; border: none;"></td>
                  <td style="width: 80.07mm; border: none;"></td>
                  <td style="width: 34.92mm; border: none;"></td>
                  <td style="width: 102.64mm; border: none;"></td>
                </tr>
                <tr style="height: 23.35mm;">
                  <td
                    style="background: #EDF0F2;text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    用印日期
                  </td>
                  <td
                    style="text-align: center;border-bottom: 1px solid #000000;border-right: 1px solid #000000;"
                  >
                    {用印日期}
                  </td>
                  <td
                    style="background: #EDF0F2;text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                  >
                    经办人
                  </td>
                  <td
                    style="text-align: center;border-bottom: 1px solid #000000;"
                  >
                    {经办人}
                  </td>
                </tr>
                <tr style="height: 39.14mm;">
                  <td
                    style="background: #EDF0F2;border-bottom: 1px solid #000000;border-right: 1px solid #000000;text-align: center"
                  >
                    用章事由
                  </td>
                  <td
                    style="border-bottom: 1px solid #000000;padding: 2mm;box-sizing: border-box;"
                    colspan="3"
                  >
                    {用章事由}
                  </td>
                </tr>
                <tr style="height: 39.14mm;">
                  <td
                    style="background: #EDF0F2;border-bottom: 1px solid #000000;border-right: 1px solid #000000;text-align: center"
                  >
                    审核意见
                  </td>
                  <td
                    style="border-bottom: 1px solid #000000;padding: 2mm;box-sizing: border-box;"
                    colspan="3"
                  >
                    {审核意见}
                  </td>
                </tr>
                <tr style="height: 39.14mm;">
                  <td
                    style="background: #EDF0F2;border-right: 1px solid #000000;text-align: center"
                  >
                    领导审批
                  </td>
                  <td
                    style="text-align: left;padding: 2mm;box-sizing: border-box;"
                    colspan="3"
                  >
                    {领导审批}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
