<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "交通工具": "121",
      "出发1区": "工农区",
      "出发1市": "鹤岗市",
      " 出发1省": "黑龙江省",
      "出发2区": "",
      "出发2市": "",
      "出发2省": "",
      "出发3区": "",
      "出发3市": "",
      "出发3省": "",
      "出发4区": "",
      "出发4市": "",
      "出发4省": "",
      "出差事由": "2623",
      "出差人": "孙晓茜",
      "出差开始时间": "2023-10-24",
      "出差结束时间": "2023-10-24",
      "到达1区": "长宁区",
      "到达1市": "市辖区",
      "到达1省": "上海市",
      "到达2区": "",
      "到达2市": "",
      "到达2省": "",
      "到达3区": "",
      "到达3市": "",
      "到达3省": "",
      "到达4区": "",
      "到达4市": "",
      "到达4省": "",
      "填表日期": "2023年10月24日",
      "是否带车": "是",
      "职务": "科员",
      "费用支付单位": "12232",
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;">
    <div style="flex: 1;height: 100%;">
      <div
        style="height: 65.961mm;position: relative;overflow: hidden;padding-bottom: 4.233mm;display: flex;flex-direction: column;justify-content: space-between;padding-right: 31.040mm;padding-left: 31.746mm;">
        <div
          style="font-size: 6.349mm;line-height:9.876mm;color: #000000;font-weight: 900;text-align: center;padding-top: 28.219mm;">
          {所属单位名称}会议（培训）费支出预算表</div>
        <div>
          <div
            style="font-size: 3.175mm;margin-top: 7.055mm;padding-bottom: 4.233mm;display: flex;flex-direction: row;justify-content: space-between;border-bottom: 1px solid #000000;">
            <div style="flex: 1">编报科室：{科室}</div>
            <div style="flex: 1">填报日期：{填报日期}</div>
          </div>
          <div
            style="font-size: 3.175mm;margin-top: 3.880mm;display: flex;flex-direction: row;justify-content: space-between;">
            <div style="flex: 1">会议（培训）名称：{会议名称}</div>
            <div style="flex: 1">会议（培训）地点：{会议地点}</div>
          </div>
        </div>
      </div>
      <div
        style="border: 1px solid #000000;overflow: hidden;display: inline-block;margin-right: 31.040mm;margin-left: 31.746mm;">
        <table style="font-size: 3.175mm;table-layout: fixed;border-collapse: collapse;">
          <tbody>
          <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
            <td style="width: 20.811mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
            <td style="width: 42.328mm; border: none;"></td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
                colspan="2">预算科目</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
                rowspan="2">人数</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
                rowspan="2">天数</td>
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
                rowspan="2">标准</td>
            <td style="text-align: center;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
                rowspan="2">预算金额</td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">
              款项</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;">
              名称</td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
                colspan="2">费用合计</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数1}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数1}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准1}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额1}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                rowspan="5">1</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              伙食补助费</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数2}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数2}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准2}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额2}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              ①参会人员</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数3}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数3}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准3}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额3}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              市直</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员市直人数}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员市直天数}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员市直标准}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员市直金额}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              县区</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员县区人数}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员县区天数}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员县区标准}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {参会人员县区金额}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              ②工作人员</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数4}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数4}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准4}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额4}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              2</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              公杂费</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数5}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数5}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准5}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额5}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              3</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              住宿费</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数6}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数6}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准6}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额6}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              4</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              场地租赁费</td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数7}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数7}</div>
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准7}</div>
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额7}</div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="text-align: center;border-right: 1px solid #000000;">5</td>
            <td style="text-align: center;border-right: 1px solid #000000;">其他开支</td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {人数8}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {天数8}</div>
            </td>
            <td style="text-align: center;border-right: 1px solid #000000;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {标准8}</div>
            </td>
            <td style="text-align: center;">
              <div
                style="max-height: 4.586mm;margin-left: 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;">
                {金额8}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div
        style="margin-top: 4.233mm;width: 100%;display: flex;align-items: center;font-size: 3.175mm;padding-right: 31.040mm;padding-left: 31.746mm;">
        <div>单位负责人：</div>
        <div style="width: 49.735mm;overflow: hidden;"></div>
        <div>分管局长：</div>
        <div style="width: 49.382mm;overflow: hidden;"></div>
        <div>科室负责人：</div>
        <div style="width: 49.382mm;overflow: hidden;"></div>
        <div>填表人：</div>
        <div style="flex: 1;width: 0;overflow: hidden;margin-left: 1mm;">{填表人}</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
