<html lang="zh-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <style>
      html, body, * {
          padding: 0;
          margin: 0;
      }
  </style>
  <script src="../cdn/lodash.min.js"></script>
  <script src="../cdn/html2canvas.min.js"></script>
  <script src="../cdn/FileSaver.min.js"></script>
  <script src="../helper.js"></script>
  <script>
    const printData = {
      "收款单位全称": "收款单位全称收款单位全称收款单位全称收款单位全称收款单位全称",
      "金额": 45233423423,
      "开户银行": "开户银行开户银行开户银行开户银行开户银行开户银行",
      "银行账号": "银行账号银行账号银行账号银行账号银行账号银行账号银行账号银行账号银行账号银行账号银行账号",
      "用途": "用途用途用途用途用途用途用途用途用途用途用途用途用途用途用途用途用途用途用途用途"
    }
    console.log('printData', printData)
  </script>
</head>
<body>
<div style="text-align: center;padding-top: 10px;">
  <button onclick="preview('container',printData)">渲染模拟数据</button>
  <button onclick="toImage('container')">生成图片</button>
</div>
<div id="container" t="模板不包含本节点" style="width: 297mm;height: 210mm;box-sizing: border-box;margin: 10mm auto;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
  <div t="模板内容根节点,从此节点开始(包含本节点)放到编辑模板源码内" style="width: 100%;height: 100%;display: flex;color: #000000;font-weight: 400;">
    <div style="width: 43.386mm;height: 100%;display: flex;flex-flow: row;align-items: center;">
      <div
        style="height: 128.394mm;font-size: 7.055mm;font-weight: 400;color: #000000;display: flex;flex-direction: column;justify-content: space-between;margin-left: 14.109mm;"
      >
        <div>装</div>
        <div>订</div>
        <div>线</div>
      </div>
      <div style="height: 154.849mm;width: 0.18mm;border-left: 0.18mm dashed #292C33;margin-left: 11.640mm;"></div>
    </div>
    <div style="flex: 1;height: 100%;">
      <div
        style="height: 49.382mm;width: 100%;position: relative;overflow: hidden;padding-bottom: 4.233mm;display: flex;flex-direction: column;justify-content: space-between;"
      >
        <div
          style="font-size: 6.349mm;line-height:9.876mm;color: #000000;font-weight: 900;text-align: center;padding-top: 24.691mm;padding-right: 23.280mm;"
        >
          付款通知书
        </div>
        <div
          style="font-size: 3.175mm;margin-top: 7.055mm;display: flex;flex-direction: row;justify-content: space-between;padding-right: 23.280mm;"
        >
          <div>单位名称：三门峡市教育局</div>
          <div>{填表日期} <span style="margin-left: 4.233mm;">单位：元</span></div>
        </div>
      </div>
      <div style="border: 1px solid #000000;overflow: hidden;display: inline-block;">
        <table style="font-size: 3.175mm;table-layout: fixed;border-collapse: collapse;">
          <tbody>
          <tr style="height: 0;border-style: hidden;" t="本行不显示,用于控制列宽">
            <td style="width: 38.095mm; border: none;"></td>
            <td style="width: 38.448mm; border: none;"></td>
            <td style="width: 38.095mm; border: none;"></td>
            <td style="width: 38.095mm; border: none;"></td>
            <td style="width: 38.095mm; border: none;"></td>
            <td style="width: 38.095mm; border: none;"></td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
                colspan="2"
            >收款单位全称
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
            >
              金额
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
            >
              开户银行
            </td>
            <td
              style="text-align: center;border-right: 1px solid #000000;border-bottom: 1px solid #000000;background-color: #EDF0F2;"
            >
              银行账号
            </td>
            <td style="text-align: center;border-bottom: 1px solid #000000;background-color: #EDF0F2;">用途
            </td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
                colspan="2"
            >
              <div
                style="max-height: 13.758mm;padding: 0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >
                {收款单位全称}
              </div>
            </td>
            <td
              style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
            >
              <div
                style="max-height: 13.758mm;padding: 0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >
                {金额}
              </div>
            </td>
            <td
              style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
            >
              <div
                style="max-height: 13.758mm;padding: 0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >
                {开户银行}
              </div>
            </td>
            <td
              style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;"
            >
              <div
                style="max-height: 13.758mm;padding: 0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >
                {银行账号}
              </div>
            </td>
            <td style="border-bottom: 1px solid #000000;text-align: center;">
              <div
                style="max-height: 13.758mm;padding: 0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >
                {用途}
              </div>
            </td>
          </tr>
          <tr style="height: 17.637mm;">
            <td style="border-bottom: 1px solid #000000;" colspan="6">
              <div
                style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;"
              >
                <div
                  style="max-height: 4.586mm;padding: 0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
                >
                  合计人民币（大写）：{合计金额大写}
                </div>
                <div
                  style="max-height: 4.586mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;margin-right: 17.637mm;"
                >
                  ￥{合计金额}
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;text-align: center;background-color: #EDF0F2;"
                colspan="4"
            >事项名称
            </td>
            <td style="border-bottom: 1px solid #000000;text-align: center;background-color: #EDF0F2;" colspan="2"
            >金额
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                colspan="4"
            >
              <div
                style="max-height: 8.818mm;padding:0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >{事项名称1}
              </div>
            </td>
            <td style="border-bottom: 1px solid #000000;text-align: center;" colspan="2"
            >{金额1}
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                colspan="4"
            >
              <div
                style="max-height: 8.818mm;padding:0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >{事项名称2}
              </div>
            </td>
            <td style="border-bottom: 1px solid #000000;text-align: center;" colspan="2"
            >{金额2}
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                colspan="4"
            >
              <div
                style="max-height: 8.818mm;padding:0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >{事项名称3}
              </div>
            </td>
            <td style="border-bottom: 1px solid #000000;text-align: center;" colspan="2"
            >{金额3}
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                colspan="4"
            >
              <div
                style="max-height: 8.818mm;padding:0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >{事项名称4}
              </div>
            </td>
            <td style="border-bottom: 1px solid #000000;text-align: center;" colspan="2"
            >{金额4}
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;"
                colspan="4"
            >
              <div
                style="max-height: 8.818mm;padding:0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >{事项名称5}
              </div>
            </td>
            <td style="border-bottom: 1px solid #000000;text-align: center;" colspan="2"
            >{金额5}
            </td>
          </tr>
          <tr style="height: 8.818mm;">
            <td style="border-right: 1px solid #000000;" colspan="4"
            >
              <div
                style="max-height: 8.818mm;padding:0 2.822mm;line-height: 4.586mm;overflow:hidden;word-break: break-all;"
              >{事项名称6}
              </div>
            </td>
            <td style="text-align: center;" colspan="2"
            >{金额6}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-top: 4.233mm;width: 100%;display: flex;align-items: center;font-size: 3.175mm">
        <div style="width: 50.441mm;">分管财务领导：</div>
        <div style="width: 47.267mm;">财务负责人：</div>
        <div style="width: 50.441mm;">分管科室领导：</div>
        <div style="width: 47.267mm;">科室负责人：</div>
        <div style="width: 34.920mm;">经办人：</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
